/* Estilos para asegurar que el mapa se visualice correctamente */
#map {
    height: 600px;
    width: 100%;
    margin: 20px auto;
}

/* Estilo para el título */
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}
